.stApp {
    background-color: #D6A99D;
    color: #896C6C;
}

label {
    color: #896C6C !important;
}

section[data-testid="stSidebar"] {
    background-color: #EDA35A;
}

div.stButton > button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 5px solid #896C6C;
    box-shadow: inset 0 0 0 0 #896C6C;
}

div.stButton > button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #896C6C;
}

div.stButton > button:active {
    transform: scale(0.9);
}